:root {
    --marginMobile: 40px;
    --marginDesktop: 30px;
    --animationTime: 15s;
}

.logos-slide {
    animation: var(--animationTime) MoveUpDesktop infinite linear;
}

.logos-slide p {
    margin: var(--marginDesktop);
    user-select: none;
}

@media (max-width: 1023px) {
    .logos-slide {
        animation: var(--animationTime) MoveUpMobile infinite linear;
    }
    .logos-slide p {
        margin: var(--marginMobile) 0 0 0;
    }
}

@keyframes MoveUpDesktop {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(calc(-100% - var(--marginDesktop)));
    }
}

@keyframes MoveUpMobile {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(calc(-100% - var(--marginMobile)));
    }
}
