.logos-slide {
    animation: 15s MoveUp infinite linear;
}

.logos-slide p {
    margin: 17px;
    user-select: none;
    /* animation: 10s fadeText infinite linear; */
}

@media (max-width: 1023px) {
    .logos-slide p {
        margin: 40px 0;
    }
}

@keyframes MoveUp {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}
